<html>
<head>
	<title>VOYAGE</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script></head>
<body>
	<div class="container">
<h1>VOYAGE - Cadastrar Localidade</h1>
<hr/>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav">
    		<li><a href={% url 'voyage:index' %}>Rotas</a></li>
    		<li><a href={% url 'voyage:insert' %}>Cadastrar</a></li>
    		<li><a href={% url 'voyage:conectar' %}>Relacionar</a></li>
    	</ul>
  </div>
  </div>
</nav>  	
<br/>
<br/>
<div class='container'>
	<form class="navbar-form pull-left" method="POST">
  {% csrf_token %}
  <label>Insira o nome do bairro</label>
  <input type="text" class="span2" name="nome">
  <button type="submit" class="btn">Submit</button>
</form>
	<div>
	{% if insert %}
	<span style="color: green;font-weight: bolder;">{{status}}<span>
	{% endif %}
	<div>
</div>
</body>
</html>